@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
.asidebar{
  position:relative;
  width:250px;
  height:calc(100vh - 50px);
  border-inline-end:1px solid rgba(0, 0, 0, 0.2);
}
textarea:focus, input:focus{
  outline: none;
}
.aside-container{
  display:flex;
}
.css-tlelie-MuiListItemText-root{
  color:black;

}
.Mui-selected{
  background-color: rgba(165, 203, 95, 0.381) !important;
}
.Mui-selected:visited{
  color:black !important;
}
::-webkit-scrollbar{
 width:5px; 
}